<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>dreamroute</title>
        <link rel="stylesheet" href="/static/style.css" type="text/css">
        <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    </head>
    <body>
    {% block content %}
        <form method="post" autocomplete="off">
            {{ form.hidden_tag() }}
            <div>
            {{ form.start(id="start", placeholder="Start Adress") }}
            {{ form.destination(id="destination", placeholder="Destination Adress") }}
            </div>
            <div>
            {{ form.departure_date(id='departure_date') }}
            {{ form.departure_time(id='departure_time') }}
            </div>
            {{ form.mobility_types(id='mobility_types') }}
            {{ form.model(id='model') }}
            <div>
            {{ form.submit(class="submit-button") }}
            </div>
        </form>
        <div>
            Start: {{start}}
        </div>
        <div>
            Destination: {{destination}}
        </div>
        <div>
            When: {{departure}}
        </div>
        <div>
          <table>
            <tr>
              <th>mobility_type</th>
              <th>duration</th>
              <th>distance</th>
              <th>emissions</th>
              <th>price</th>
            </tr>
            {% for route in route_infos %}
              <tr>
                <td>{{ route['mobility_type'] }}</td>
                <td>{{ route['duration'] }}min</td>
                <td>{{ route['distance'] }}km</td>
                <td>{{ route['emissions_on_trip'] }}kg CO2</td>
                <td>{{ route['price_of_trip'] }}€</td>
              </tr>
            {% endfor %}
          </table>
        </div>
    </body>
    {% endblock content %}
</html>
